@tailwind base;
@tailwind components;
@tailwind utilities;

.screenshot {
  transform: translate3d(0px, -16px, 0px) rotateX(60deg) rotateZ(30deg);
  transform-style: preserve-3d;
}
.template2 {
  transform: perspective(20rem) rotateX(5deg) rotateY(-15deg) rotateZ(10deg);
}
@layer utilities {

.template4 {
  transform: perspective(var(--perspective-var)) rotateX(calc(var(--rotateX-var) * -1) ) rotateY(calc(var(--rotateY-var) * -1)) rotateZ(calc(var(--rotateZ-var) * -1)) scale(var(--zoom-var));
}  .template3 {
  transform: perspective(var(--perspective-var)) rotateX(var(--rotateX-var)) rotateY(var(--rotateY-var)) rotateZ(var(--rotateZ-var)) scale(var(--zoom-var));
}
}

.grid-effect-dark{
  background-size:40px 40px;
  background-image:linear-gradient(90deg,	hsl(240, 6%, 10%) 1px,transparent 0),linear-gradient(180deg,	hsl(240, 6%, 10%) 1px,transparent 0)
}
.grid-effect-light{
  background-size:40px 40px;
  background-image:linear-gradient(90deg,hsla(0,0%,95%,.55) 1px,transparent 0),linear-gradient(180deg,hsla(0,0%,95%,.55) 1px,transparent 0)
}

.shadow-custom {
    box-shadow: 24px 16px 64px 0 rgba(0, 0, 0, 0.08);
    border: 1px solid;
  border-color: rgb(213, 220, 226) rgb(213, 220, 226) rgb(184, 194, 204);
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  outline: none; /* Remove outline */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 100%;
  background: lightgrey; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
@layer base {
:root {
--perspective-var: 0;
    --rotateX-var: 0;
    --rotateY-var: 0;
    --rotateZ-var: 0;
    --zoom-var: 0;
    --bg-color: blue;
    --gradient-stop-1: #fff;
    --gradient-stop-2: #000;
}
}

:root {
    
}

